.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: blue;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 100;
}
.logo {
    height: 3rem;
    width: auto;
}
.navbar {
    display: flex;
    gap: 2rem;
    position: relative;
    text-decoration: none;
     list-style: none;
}
.navbar a {
    position: relative;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 500;
}
.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
    
}
.navbar a:hover::after {
    width: 100%;
}
.navbar a.active::after {
    width: 100%;
}
.auth-buttons {
    display: flex;
    gap: 1rem;    
}
.btn {
    background-color: rgb(255, 238, 0);
    color: #000000;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #ffffff;
}